.sort
  display: flex
  flex-direction: row
  .array-editor
    display: flex
    flex-direction: column
    width: 400px
    textarea
      resize: none
  .preview
    pre.pre
      word-wrap: break-word
      white-space: pre-wrap
