.sort
  display: flex
  flex-direction: row
  .array-editor
    display: flex
    flex-direction: column
    width: 400px
    textarea
      resize: none
  .preview
    pre.pre
      word-wrap: break-word
      white-space: pre-wrap

  .preview-numbers
    flex: 1
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
